<!doctype html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container" ng-controller="aController" ng-init="init()">
      <h1>Fruits</h1>
      <p class="lead">There are {{basket.length}} fruits in the basket</p>
      <p>Filter list for <input ng-model="search"></p>
      <div class="list-group">
        <div href="#" class="list-group-item" ng-repeat="fruit in basket | filter:search">
          <img ng-src="{{pic_for(fruit)}}" width="32">
          {{fruit.name | uppercase}}
          <span>{{fruit.price | currency}}</span>
          <button ng-click="removeItem(fruit)" type="button" class="btn btn-danger btn-xs pull-right">
            <span class="glyphicon glyphicon-minus" title="Remove"></span>
          </button>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Add a new fruit to the basket</div>
        <div class="panel-body">
          <form name="purchaseForm" class="form-inline" role="form" novalidate>
            <div class="form-group">
              <label class="sr-only" for="fruit_name">Fruit Name</label>
              <input type="text" class="form-control" id="fruit_name" placeholder="Name" ng-model="new_fruit.name" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="fruit_price">Fruit Price</label>
              <input type="number" class="form-control" id="fruit_price" placeholder="Price" ng-model="new_fruit.price" required>
            </div>
            <button ng-disabled="!purchaseForm.$valid" ng-click="addItem()" type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="../bower_components/jquery/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="components.js"></script>
    <script src="script.js"></script>
  </body>
</html>